@use '@/styles/placeholders';

.container {
  margin-block: 1rem;
  overflow-y: auto;
}

.headingWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  text-transform: capitalize;
  padding-block: 0.25rem;
  font-weight: 500;
}
