@use '@/styles/mixins' as mixins;
@use '@/styles/themes' as th;

%aside-main {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border: 1px solid;
  border-radius: var(--main-border-radius);
  padding-inline: 1rem;
  padding-block: 1.375rem;

  @include th.themify() {
    border-color: th.themed('borderColor');
  }
}

.aside {
  &__container {
    flex-shrink: 0;
    display: none;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    max-width: 18rem;

    @include mixins.breakpoint(xl) {
      display: flex;
    }
  }

  &__adWrapper {
    height: 8rem;
    width: 100%;
    border-radius: var(--main-border-radius);
    overflow: hidden;
  }

  &__ad {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__main {
    @extend %aside-main;
  }

  &__heading {
    font-size: var(--text-md);
    font-weight: 500;
  }

  &__btnCreate {
    border: 1px solid;
    border-radius: var(--main-border-radius);
    padding-block: 0.5rem;
    margin-top: 0.675rem;

    @include th.themify() {
      border-color: th.themed('textAlpha50');
    }

    &:hover,
    &:focus {
      background: gray;
      color: white;
    }
  }
}

.created {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  font-size: var(--text-xs);
}

.members {
  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-block: 1rem;

  @include th.themify() {
    border-color: th.themed('borderColor');
  }

  &__meta {
    width: 50%;
  }

  &__data {
    display: block;
    font-weight: 600;
  }

  &__description {
    font-size: var(--text-xs);
  }
}

.policy {
  &__main {
    --gap-between: 1rem;

    @extend %aside-main;
    gap: 0rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.375rem;
    border-bottom: 1px solid;
    padding-bottom: var(--gap-between);

    @include th.themify() {
      border-color: th.themed('borderColor');
    }

    &:not(:first-child) {
      padding-top: var(--gap-between);
    }
  }

  &__link {
    font-size: var(--text-xs);
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-underline-offset: 0.125rem;
    }
  }

  &__copy {
    padding-top: var(--gap-between);
    font-size: var(--text-xs);
  }
}

.rule {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'index title button'
    'index details details';
  row-gap: 0.125rem;
  align-content: center;
  padding-block: 0.75rem;

  &:not(:last-child) {
    border-bottom: 1px solid;

    @include th.themify() {
      border-color: th.themed('borderColor');
    }
  }

  &__index {
    grid-area: index;
    margin-right: 0.25rem;
  }

  &__title {
    grid-area: title;
    text-align: left;
    flex-grow: 1;
  }

  &__btnExpand {
    grid-area: button;
  }

  &__expanded {
    grid-area: details;
  }

  &__details {
    margin-top: 0.25rem;
    line-height: 1.35;
    text-align: left;
    font-size: 0.9rem;
    @include th.themify() {
      color: th.themed('textAccent');
    }
  }
}
