@use '@/styles/themes' as th;

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid;
  border-bottom-right-radius: var(--main-border-radius);
  border-bottom-left-radius: var(--main-border-radius);

  @include th.themify() {
    color: th.themed('textColor');
    background: th.themed('bgAccent');
    border-color: th.themed('borderColor');
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__listItem {
    margin-inline: 0.75rem;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:not(:last-of-type) {
      @include th.themify() {
        border-bottom: th.themed('border');
      }
    }
  }

  &__label {
    font-size: var(--text-xs);
  }
}
