@use '@/styles/themes' as th;

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid;
  border-bottom-right-radius: var(--main-border-radius);
  border-bottom-left-radius: var(--main-border-radius);

  @include th.themify() {
    color: th.themed('textColor');
    background: th.themed('bgAccent');
    border-color: th.themed('borderColor');
  }

  &[data-sort='true'] {
    margin-right: 3rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__listItem {
    margin-inline: 0.75rem;
    padding-block: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;

    @include th.themify() {
      color: th.themed('textColor');
    }

    &:not(:last-of-type) {
      @include th.themify() {
        border-bottom: th.themed('border');
      }
    }
  }

  &__icon {
    display: block;
    font-size: var(--text-md);
    width: 15%;
  }

  &__label {
    font-size: var(--text-xs);
    white-space: nowrap;
  }

  &__text {
    margin-left: 0.5rem;
  }
}
