@use '@/styles/themes' as th;

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid;
  border-radius: var(--main-border-radius);

  @include th.themify() {
    color: th.themed('textColor');
    background: th.themed('bgAccent');
    border-color: th.themed('borderColor');
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__listItem {
    padding-block: 0.625rem;
    padding-inline: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__label {
    font-size: var(--text-sm);
  }
}
