@use '@/styles/placeholders';
@use '@/styles/themes' as th;

.container {
  padding-block: 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;

  @include th.themify() {
    border-color: th.themed('borderColor');
  }
}

.subreddit {
  &__link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.625rem;
    font-size: var(--text-xxs);
  }

  &__icon {
    font-size: var(--text-sm);
  }
}

.post {
  &__link {
    display: block;
  }

  &__title {
    margin-bottom: 0.625rem;
    font-size: 1.075rem;
    line-height: 1.2;
  }

  &__details {
    margin-bottom: 0.75rem;
    font-size: 0.95rem;

    @include th.themify() {
      color: th.themed('textAccent');
    }
  }

  &__metaLeft {
    display: flex;
    flex-direction: column;
    font-size: var(--text-xs);
  }
}

.meta {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: var(--text-xs);
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include th.themify() {
      color: th.themed('textAlpha75');
    }
  }

  &__dataWrapper {
    display: flex;
    align-items: center;
    gap: 0.125rem;
  }

  &__iconLeft {
    font-size: var(--text-sm);
  }

  &__right {
    @extend %parent-with-centered-children;
    position: relative;
    gap: 0.375rem;
    font-size: var(--text-lg);

    @include th.themify() {
      color: th.themed('textAlpha75');
    }
  }
}

.btnUpvote {
}
