@use '@/styles/placeholders';
@use '@/styles/themes' as th;

.container {
  $self: &;
  padding-block: 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  position: relative;

  @include th.themify() {
    border-color: th.themed('borderColor');
  }

  &[data-saved='true']::after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 25px;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);

    @include th.themify() {
      background: th.themed('bookmark');
    }
  }
}

.subreddit {
  &__link {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    margin-bottom: 0.625rem;
  }

  &__icon {
    @extend %parent-with-centered-children;
    border: 1px solid;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    width: 22.5px;
    height: 22.5px;
    font-size: var(--text-xs);
    color: white;

    @include th.themify() {
      border-color: th.themed('borderColor');
      background: th.themed('primaryAlpha50');
    }
  }

  &__title {
    font-size: 0.85rem;
  }
}

.post {
  &__link {
    display: block;
  }

  &__title {
    margin-bottom: 0.625rem;
    font-size: 1.0875rem;
    line-height: 1.2;
  }

  &__details {
    margin-bottom: 0.75rem;
    font-size: 0.95rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    @include th.themify() {
      color: th.themed('textAccent');
    }
  }

  &__metaLeft {
    display: flex;
    flex-direction: column;
    font-size: var(--text-xs);
  }

  &__imgWrapper {
    position: relative;
    min-height: 100px;
    margin-bottom: 0.75rem;
  }

  &__img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}

.meta {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    font-size: var(--text-xs);
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include th.themify() {
      color: th.themed('textAlpha75');
    }
  }

  &__dataWrapper {
    display: flex;
    align-items: center;
    gap: 0.125rem;
  }

  &__data {
    &[data-upvoted='true'] {
      @include th.themify() {
        color: th.themed('upvote');
      }
    }
  }

  &__iconLeft {
    font-size: var(--text-sm);
  }

  &__right {
    @extend %parent-with-centered-children;
    position: relative;
    gap: 0.15rem;
    font-size: var(--text-lg);

    @include th.themify() {
      color: th.themed('textAlpha75');
    }
  }

  &__btnRight {
    border-radius: 0.125rem;

    &[data-upvoted='true'] {
      color: white;

      @include th.themify() {
        background: th.themed('upvote');
      }
    }

    &[data-downvoted='true'] {
      color: white;

      @include th.themify() {
        background: th.themed('downvote');
      }
    }
  }

  &__btnIcon {
    display: block;
    padding: 2.5px 1.25px;
  }
}

.btnUpvote {
  @extend %parent-with-centered-children;

  &[data-upvoted='true'] {
    @include th.themify() {
      color: th.themed('upvote');
    }
  }
}
