@use '@/styles/placeholders';
@use '@/styles/themes' as th;

.container {
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-block: 0.625rem;
  padding-inline: 0.5rem;

  @include th.themify() {
    border-color: th.themed('borderColor');
  }
}

.link {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.titleWrapper {
  display: flex;
  gap: 0.375rem;
}

.title {
  font-size: var(--text-md);
  font-weight: 500;
}

.description {
  font-size: var(--text-sm);
}

.meta {
  font-size: var(--text-xs);

  @include th.themify() {
    color: th.themed('textAccent');
  }
}

.btnReport {
  display: none;
  width: fit-content;
  border: 1px solid currentColor;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.625rem;
  font-size: var(--text-xxs);

  @include th.themify() {
    color: th.themed('textAccent');
  }
}

.btnJoin {
  border: 1px solid;
  border-radius: 10rem;
  margin-block: 0.5rem;
  padding: 0.375rem 1rem;
  width: 5rem;
  align-self: flex-start;

  @include th.themify() {
    border-color: th.themed('textAccent');
  }
}
