@use '@/styles/mixins' as mixins;
@use '@/styles/themes' as th;

.sub__header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'title join'
    'desc desc';
  row-gap: 0.75rem;
}

.sub__description {
  grid-area: desc;
  font-size: 0.95rem;

  @include mixins.breakpoint(xl) {
    display: none;
  }

  @include th.themify() {
    color: th.themed('textAccent');
  }
}

.btn {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.375rem;

    %btn {
      height: 85%;
      display: block;
      border: 1px solid;
      border-radius: 10rem;

      @include th.themify() {
        border-color: th.themed('textAlpha75');
      }
    }
  }

  &__join {
    @extend %btn;
    padding-inline: 1.5rem;
  }

  &__options {
    @extend %btn;
    aspect-ratio: 1 / 1;
  }

  &__icon {
    font-size: var(--text-lg);
  }
}
