@use '@/styles/themes' as th;

.menu {
  border-radius: var(--main-border-radius);
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;

  @include th.themify() {
    background-color: th.themed('bgAccent');
    border: th.themed('border');
  }

  &__listItem {
    padding-block: 0.5rem;
    margin-inline: 0.5rem;

    &:not(:last-of-type) {
      @include th.themify() {
        border-bottom: th.themed('border');
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    padding-block: 0.25rem;
    width: 100%;
  }

  &__icon {
    font-size: var(--text-md);
  }

  &__btnText {
    display: block;
    padding-right: 0.5rem;
    white-space: nowrap;
  }
}
