@use '@/styles/themes' as th;

.listItem {
  margin-bottom: 0.5rem;
}

.heading {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  font-size: var(--text-sm);

  @include th.themify() {
    background: th.themed(accentBgColor);
  }
}
