@use '@/styles/placeholders';
@use '@/styles/mixins' as mixins;

.modal {
  --modal-padding: 1.675rem;
  @include mixins.center-self(both, absolute);
  border-radius: var(--main-border-radius);
  padding: var(--modal-padding);
  background: white;
  width: clamp(16rem, 60%, 56rem);
  display: flex;
  flex-direction: column;

  &__btnClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--modal-padding);
    display: block;
    width: fit-content;
  }

  &__heading {
    font-size: var(--text-md);
    font-weight: 500;
  }

  &__label {
    visibility: hidden;
  }

  &__textarea {
    padding: 0.375rem;
    width: 100%;
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
    font-size: var(--text-sm);
  }

  &__btnSubmit {
    width: 100%;
    margin-top: 1rem;
    padding: 0.375rem;
    border: 1px solid;
    border-radius: 0.25rem;
  }
}
