@use '@/styles/placeholders';
@use '@/styles/themes' as th;

.comment {
  --border-bottom: 1px solid rgb(204, 204, 204);

  &:hover {
    @include th.themify() {
      box-shadow: -0.75px 0px 0px 0px th.themed('textAlpha25');
    }
  }

  &__self {
    margin-block: 1rem;
    padding-left: 0.875rem;
    border-left: 2px solid;

    @include th.themify() {
      border-color: th.themed('primary');
    }

    &[data-level='1'] {
      border-color: red;
    }
    &[data-level='2'] {
      border-color: orange;
    }
    &[data-level='3'] {
      border-color: yellow;
    }
    &[data-level='4'] {
      border-color: green;
    }
    &[data-level='5'] {
      border-color: blue;
    }
    &[data-level='6'] {
      border-color: indigo;
    }
    &[data-level='7'] {
      border-color: violet;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.5rem;

  &__withBorder {
    padding-bottom: 0.5rem;

    @include th.themify() {
      border-bottom: th.themed('border');
    }
  }

  &__originalPoster {
    margin-right: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__btnUpvote {
    @include th.themify() {
      color: th.themed('textAccent');
    }

    &[data-upvoted='true'] {
      @include th.themify() {
        color: th.themed('upvote');
      }
    }

    &[data-downvoted='true'] {
      @include th.themify() {
        color: th.themed('downvote');
      }
    }
  }

  &__iconUpvote {
    font-size: var(--text-sm);
    vertical-align: bottom;
  }

  &__iconExpand {
    font-size: var(--text-lg);
  }

  &__right {
    @extend %parent-with-centered-children;
    gap: 0.25rem;
    position: relative;
  }

  &__btnMenu {
    position: relative;
  }

  &__iconMore {
    font-size: var(--text-md);
    vertical-align: middle;
  }

  &__time {
    font-size: var(--text-xs);
  }
}

.content {
  padding-bottom: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;

  @include th.themify() {
    border-bottom: th.themed('border');
  }
}
